.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo span {
  color: #4d5ae5;
}
.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .container {
  display: flex;
}
.footer-info {
  margin-right: 120px;
}
.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-socials .social-list {
  gap: 16px;
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}
.footer .social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-button {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  max-width: 165px;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-icon {
  fill: #fff;
}
.footer-input:focus {
  outline: none;
  border-color: #31d0aa;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #31d0aa;
}
